@page
@model Training_Records_Management_System.Pages.MarksPages.EditModel

@{
    ViewData["Title"] = "Edit";
}
   <div class="text-center h4">
        @Model.StudentMarks.Student.LastName @Model.StudentMarks.Student.FirstName's Marks
    </div>

<div class="row">
    <div class="col">
    </div>

    <div class="card col">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="StudentMarks.Id" />
                        <div class="form-group h3 text-center">
                            @Model.StudentMarks.Subject.Title
                            <input asp-for="StudentMarks.StudentId" value="@Model.StudentMarks.StudentId" class="form-control" type="hidden"></input>

                        </div>
                        <div class="form-group">
                            <input asp-for="StudentMarks.SubjectId" value="@Model.StudentMarks.SubjectId" class="form-control" type="hidden"></input>

                        </div>
                        <div class="form-group">
                            <label asp-for="StudentMarks.Mark" class="control-label"></label>
                            <br />
                            <input asp-for="StudentMarks.Mark" class="form-control" />
                            <span asp-validation-for="StudentMarks.Mark" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group text-end">

                            <a asp-page="/StudentPages/Details" asp-route-id="@Model.StudentMarks.StudentId" class="btn btn-outline-primary">Back</a>
                            <input type="submit" value="Save" class="btn btn-primary" />

                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Delete
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Are you Sure you want to delete this record?</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card text-center">
                    <div class="card-body text-centre">
                        @Model.StudentMarks.Subject.Title
                        <div class="h3">
                            @Model.StudentMarks.Mark
                        </div>
                        @Model.StudentMarks.Grade
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form asp-page-handler="delete" asp-route-id="@Model.StudentMarks.Id" method="post">
                    <button class="btn btn-danger"> Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
