@page
@model Training_Records_Management_System.Pages.StudentPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="text-center h3">
        Details
    </div>
    <div class="row">
        <div class="col-2">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <img src="~/profile.png" class = "rounded" />
                    </div>
                    <br />
                    <div>
                        <strong>@Html.DisplayFor(model => model.Student.LastName) @Html.DisplayFor(model => model.Student.FirstName)</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <dl class="col row border-right">
                            <dt class="col-sm-5">
                                @Html.DisplayNameFor(model => model.Student.ForceNumber)
                            </dt>
                            <dd class="col">
                                @Html.DisplayFor(model => model.Student.ForceNumber)
                            </dd>
                            <div class="w-100"></div>
                            <dt class="col-sm-5">
                                @Html.DisplayNameFor(model => model.Student.FileNumber)
                            </dt>
                            <dd class="col">
                                @Html.DisplayFor(model => model.Student.FileNumber)
                            </dd>
                            <div class="w-100"></div>
                            <dt class="col-sm-5">
                                @Html.DisplayNameFor(model => model.Student.EnrollmentDate)
                            </dt>
                            <dd class="col">
                                @Html.DisplayFor(model => model.Student.EnrollmentDate)
                            </dd>
                            <div class="w-100"></div>
                            <dt class="col-sm-5">
                                @Html.DisplayNameFor(model => model.Student.DOB)
                            </dt>
                            <dd class="col">
                                @Html.DisplayFor(model => model.Student.DOB)
                            </dd>
                            <div class="w-100"></div>
                            <dt class="col-sm-5">
                                @Html.DisplayNameFor(model => model.Student.TelephoneNumber)
                            </dt>
                            <dd class="col">
                                @Html.DisplayFor(model => model.Student.TelephoneNumber)
                            </dd>
                        </dl>
                        <div class="col">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Student.Origin)
                                </dt>
                                <dd class="col">
                                    @Html.DisplayFor(model => model.Student.Origin)
                                </dd>
                                <div class="w-100"></div>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Student.Gender)
                                </dt>
                                <dd class="col">
                                    @Html.DisplayFor(model => model.Student.Gender)
                                </dd>
                            </dl>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class = "card">
    <div class = "card-body">
            @foreach(var mark in Model.Student.Marks)
            {
                
            }
        </div>
    </div>
</div>

<div class = "text-center">
    <br />
    <a asp-page="./Index" class = "btn btn-outline-primary>Back </a>
    <a asp-page="./Edit" asp-route-id="@Model.Student?.Id"  class = "btn btn-primary">Edit</a>
</div>
