@page
@model Training_Records_Management_System.Pages.StudentPages.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="text-center h1">
    TRAINEES
</div>
<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].FileNumber)
            </th>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].TelephoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Origin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Gender)
            </th>
            <th class="text-end" style = "width: 15%">
                <a class="btn btn-primary" asp-page="Create">New Trainee</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Student)
        {
            <tr>
                <td>
                    <a id="clickablerow" asp-page="./Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.FileNumber)
                    </a>
                </td>
                <td>
                    <a id="clickablerow" asp-page="./Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.LastName) 
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </a>
                </td>
                <td>
                    <a id="clickablerow" asp-page="./Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.TelephoneNumber)
                    </a>
                </td>
                <td>
                    <a id="clickablerow" asp-page="./Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Origin)
                    </a>
                </td>
                <td>
                    <a id="clickablerow" asp-page="./Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Gender)
                    </a>
                </td>
                <td class="text-end">
                    <a class="btn" asp-page="./Edit" asp-route-id="@item.Id">
                        <img src= "~/edit.png">
                        </a>
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">
                        
                        <img src= "~/bin.png">
                        </a>
                </td>
            </tr>
        }
    </tbody>
</table>
